Source: firstboot
Section: utils
Priority: optional
Maintainer: Paul Sladen <sladen@19inch.net>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.4
Homepage: http://www.flexiant.com/

Package: firstboot
Architecture: all
Depends: ${misc:Depends}, wget
Description: Per-host configuration of FlexiScale grid-computing nodes
 Provides a set of scripts in /etc/firstboot.d/ to personalise the
 configuration of each new running instance on Flexiant/FlexiScale/Exility
 compute cluster.
